<!DOCTYPE html>
<html>
<head>
    <title>Fake News Detection AI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>📰 AI Fake News Detector</h1>
    <p class="subtitle">Check if news is Real or Fake using Machine Learning</p>

    <textarea id="newsText" placeholder="Paste news article here..."></textarea>

    <button onclick="checkNews()">Analyze News</button>

    <div class="result-card">
        <h2 id="result"></h2>
        <div class="confidence-bar">
            <div id="bar"></div>
        </div>
        <p id="confidence"></p>
    </div>

</div>

<script>
async function checkNews() {

    let news = document.getElementById("newsText").value;

    let response = await fetch("/predict", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({news: news})
    });

    let data = await response.json();

    document.getElementById("result").innerText = data.prediction;
    document.getElementById("confidence").innerText =
        "Confidence: " + data.confidence.toFixed(2) + "%";

    document.getElementById("bar").style.width = data.confidence + "%";
}
</script>

</body>
</html>
